<section>
	<div class="row">
		<div class="col s1"></div> <!-- WHITE SPACE LEFT -->
		<div class="col s10">
			<h4 class="header">Chat</h4>
		</div>
		<div class="col s1"></div> <!-- WHITE SPACE RIGHT -->
	</div>
	
	<!-- AI CHAT WINDOW -->
	<div class="row">
		<div class="col s1 l2"></div> <!-- WHITE SPACE LEFT -->
		<div class="col s9 l6">
			<div class="aiChat card horizontal z-depth-5">

				<div class="ai aiChat card-image col s2 valign-wrapper">
					<div class="center-align">
						<h5 class="id flow-text">Dx<br>A.I.</h5>
					</div>
				</div>

				<div class="aiChat card-stacked">
					<div class="card-content">
						<p>Hello, I’m Diagnosis A.I. I'm here to answer questions about your surgery. How can I help you today?</p>
					</div>
				</div>

			</div>
		</div>
		<div class="col s2 l4"></div> <!-- WHITE SPACE RIGHT -->
	</div>

	<!-- USER CHAT WINDOW -->
	<div class="row">
		<div class="col s2 l4"></div> <!-- WHITE SPACE LEFT -->
		<div class="col s9 l6">
			<div class="userChat card horizontal z-depth-5">
				
				<div class="userChat card-stacked">
					<div class="card-content">
						<p>Should I drive to the hospital or have someone bring me?</p>
					</div>
				</div>

				<div class="user userChat card-image col s2 valign-wrapper">
					<div class="center-align">
						<h5 class="id flow-text">FC</h5>
					</div>
				</div>

			</div>
		</div>
		<div class="col s1 l2"></div> <!-- WHITE SPACE RIGHT -->
	</div>

</section>