<!--navigation-->
<nav>
    <div class="nav-wrapper">
    
        <a routerLink="/" type='submit' class="brand-logo"><img class="logoWhiteCir responsive-imgs" src="assets/images/logoWhiteCir.png">Diagnosis A.I.</a>
        <a href="#" data-activates="dropdown1" class="tap submit button-collapse"><i type="submit tap" class="tap submit material-icons">menu</i></a>

        <ul type="tap submit" class="tap submit right hide-on-med-and-down">
            <li>
                <a type="submit" routerLink="/signup">Sign Up</a>
            </li>
            <li>
                <a type="submit" routerLink="/profile">Profile</a>
            </li>
            <li>
              <a type="submit" routerLink="/chat">Chat</a>
            </li>
            <li>
                <a type="submit" routerLink="/qa">FAQ</a>
            </li>
        </ul>
    </div>
</nav>

        <ul class="tap submit dropdown-content" id="dropdown1">
            <li>
                <a type="submit" class="tap submit" routerLink="/signup">Sign Up</a>
            </li>
            <li>
                <a type="submit" routerLink="/profile">Profile</a>
            </li>
            <li>
                <a type="submit" routerLink="/qa">FAQ</a>
            </li>
            <li>
              <a type="submit" routerLink="/chat">Chat</a>
            </li>
        </ul>



<router-outlet></router-outlet>


<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> 
 --><!-- Compiled and minified JavaScript --> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>  -->
<!-- <script>
 $(".button-collapse").sideNav();
</script> -->