<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="tabs">
			<li class="tab col s5"><a class="active" href="#test1">Pre-Op</a></li>
			<li class="tab col s5"><a href="#test2">Post-Op</a></li>
		</ul>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="card col s10">
		<div class="row">
			<div class="col s1"></div>
			<div class="col s1">
				<h2>Q:</h2>
			</div>
			<div class="col s7">
				<p>Question</p>		
			</div>
		</div>

		<div class="row">
			<div class="col s1"></div>
			<div class="col s1">
				<h2>A:</h2>
			</div>
			<div class="col s7">
				<p>Answer</p>
			</div>			
		</div>

	</div>
	<div class="col s1"></div>
</div>
