<section>

<!-- PRE-OP / POST-OP TABS -->
<div class="row">
	<div class="col s1 l2"></div> <!-- WHITE SPACE LEFT -->
		<div class="col s10 l8">
			<ul class="tabs">
				<li class="tab col s6"><a class="active" routerLink="#">Pre-Op</a></li>
				<li class="tab col s6"><a routerLink="#">Post-Op</a></li>
			</ul>
		</div>
	<div class="col s1 l2"></div> <!-- WHITE SPACE RIGHT -->
</div>

<!-- PAGE TITLE -->
<div class="row">
	<div class="col s1 l2"></div> <!-- WHITE SPACE LEFT -->
		<div class="col s10 l8  text-flow">
			<h4 class="header">Frequenly Asked Questions</h4>
		</div>
	<div class="col s1 l2"></div> <!-- WHITE SPACE RIGHT -->
</div>

<!-- FAQ -->
<div class="row">
<div class="col s1 l2"></div> <!-- WHITE SPACE LEFT -->
	<div class="card col s10 l8 z-depth-5">
		<!-- QUESTION -->
		<div class="row">
			<div class="qId col s4 l2 center-align">
				<h1 class="flow-text">Q:</h1>
			</div>
			<div class="question col s10 l6">
				<p class="flow-text">When should I change the bandage?</p>		
			</div>
		</div>
		<hr>
		<!-- ANSWER -->
		<div class="row">
			<div class="aId col s4 l2 center-align">
				<h1 class="flow-text">A:</h1>
			</div>
			<div class="answer col s10 ">
				<p class="flow-text">You should change your bandages every 12 hours for the first week.</p>
			</div>			
		</div>

	</div> <!-- end of card div -->
<div class="col s1 l2"></div> <!-- WHITE SPACE RIGHT -->
</div> <!-- end of row -->
</section>
