/*
TYPOGRAPHY USED:
font-family: 'Raleway', sans-serif;
font-weight: 200, 400, 700;
font-style: italic;
*/

/*
COLOR PALETTE USED:
primary color:
indigo = #263172
light indigo = #9398b8

secondary color:
cyan = #29abe2
light cyan = #94d5f1

neutrals:
warm gray 900 = #867d78
warm gray 700 = #9b928d
warm gray 500 = #ada7a4
warm gray 300 = #c0bbb7
warm gray 100 = #e4e0d8
*/

/* GRAY BACKGROUND GRADIENT */
html {
    height: 100%;
}
section {
    height: 100%;
    margin: 0;
    
    background-repeat: no-repeat;
    background-attachment: fixed !important;
	background: #e4e0d8;
    background: -webkit-linear-gradient(to bottom, #e4e0d8, #ada7a4);
    background: linear-gradient(to bottom, #e4e0d8, #ada7a4); 
}

/* FAQ CARDS */
.card {
	background-color: white;
	padding: 0;
	margin-top: 25px;
}
.row {
	margin-bottom: 0;
}
.qId {
	background-color: #29abe2;
}
.aId {
	background-color: #263172;
}
hr {
	margin: 0;
	height: 2px;
	background-color: #263172;
	border-style: none;
}

/* TYPOGRAPHY */
.header	{
	text-align: center;
}

h1 {
	font-weight: 200;
	color: white;
}
p {
	font-size: 1.5rem;
}

@media only screen and (max-width: 355px){

section {
	background-size: cover;
	height: initial;

}
}