<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<h4>Sign Up</h4>
		<h2>Welcome to Diagnosis A.I.</h2>
		<p>Sign up for an account for instant access to important information about your upcoming surgery.</p>
		<p><span class="italic">Already have an account? </span><a class="inline-link" href="/login">Log in here</a></p>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div> <!-- WHITE SPACE LEFT -->
	<form class="card z-depth-4 col s10">

		<div class="row">
		<div class="col s1"></div> <!-- CARD WHITE SPACE LEFT -->
			<div class="input-field col s8">
				<input id="first_name" type="text" class="validate">
				<label for="first_name">First Name</label>
			</div>
		<div class="col s1"></div> <!-- CARD WHITE SPACE RIGHT -->
		</div>

		<div class="row">
		<div class="col s1"></div> <!-- CARD WHITE SPACE LEFT -->
			<div class="input-field col s8">
				<input id="last_name" type="text" class="validate">
				<label for="last_name">Last Name</label>
			</div>
		<div class="col s1"></div> <!-- CARD WHITE SPACE RIGHT -->
		</div>

		<div class="row">
		<div class="col s1"></div> <!-- CARD WHITE SPACE LEFT -->
			<div class="input-field col s8">
				<input id="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
		<div class="col s1"></div> <!-- CARD WHITE SPACE RIGHT -->
		</div>

		<div class="row">
		<div class="col s1"></div> <!-- CARD WHITE SPACE LEFT -->
			<div class="input-field col s8">
				<input id="password" type="password" class="validate">
				<label for="password">Password</label>
			</div>
		<div class="col s1"></div> <!-- CARD WHITE SPACE RIGHT -->
		</div>
  
  		<div class="row">
		<div class="col s1"></div> <!-- CARD WHITE SPACE LEFT -->
			<div class="col s8">
				<button class="btn waves-effect waves-light btn-large" type="submit" name="action">Sign Up</button>
			</div>
		<div class="col s1"></div> <!-- CARD WHITE SPACE RIGHT -->
		</div>

	</form>
	<div class="col s1"></div> <!-- WHITE SPACE RIGHT -->
</div>
