/* You can add global styles to this file, and also import other style files */

/*
TYPOGRAPHY
font-family: 'Raleway', sans-serif;
font-weight: 200, 400, 700;
font-style: italic;
*/

/*
COLOR PALETTE:
primary color:
indigo = #263172
light indigo = #9398b8

secondary color:
cyan = #29abe2
light cyan = #94d5f1

neutrals:
warm gray 900 = #867d78
warm gray 700 = #9b928d
warm gray 500 = #ada7a4
warm gray 300 = #c0bbb7
warm gray 100 = #e4e0d8
*/

body{
	font-family: 'Raleway', sans-serif;
    background: #e4e0d8;
}

h2 {
	font-weight: 200;
	color: #867d78;
}

h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: #263172;
}

p {
	font-weight: 400;
	color: #867d78;
}

.inline-link {
	font-weight: 700;
	color: #29abe2;
}

.btn {
	background-color: #29abe2;
}
.btn:hover {
	background-color: #94d5f1;
}

.input-field {
	width: 80%;
}